* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: hsl(0, 2%, 34%);
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: monospace;
}

.container {
  width: 300px;
  border-radius: 10px;
  background-color: rgb(255, 223, 223);
  padding: 20px;
}

/* form {
  display: flex;
  justify-content: space-between;
} */